@model IEnumerable<Row>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var values = Model.ToArray();
}

<h1>Vocabulary</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            №
        </th>
        
        <th>
            @nameof(Row.English)
        </th>
        <th>
            @nameof(Row.Japanese)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach(var row in Model)
    {
        <tr>
            <td>
                 @Html.DisplayFor(modelItem => row.Id)
            </td>

            <td>
                @Html.DisplayFor(modelItem => row.English)
            </td>
            <td>
                @Html.DisplayFor(modelItem => row.Japanese)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@row.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@row.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@row.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>